body {
    font-family: Verdana;
    background-image: url('../images/snowFlakes.png');
}
h1 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}
#growl {
    height: 30px;
}
#menu {
    width: 240px;
}
#menu ul {
    padding: 5px 5px 5px 5px;
    margin-top: 50px;
}
#menu ul li{
    display: block;
    height: 30px;
    border: thin solid greenyellow;
    text-align: center;
}
#content {
    width: 825px;
    padding: 5px 5px 5px 5px;
}
.closable {
    background-image: url('../images/sprite1.png');
    background-position: -237px -64px;
    background-repeat: no-repeat;
/*    display: block;*/
    height: 25px;
    width: 25px;
}
.decoratorBackground {
    width: 10%;
    height: 600px;
}
.snowFlakes {
    background-image: url('../images/snowFlakes.png');
    background-repeat: no-repeat;
    background-position: top;
}
.center {
    width: 1080px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.padded5 {
    padding: 5px 5px 5px 5px;
}
.floatLeft {
    float: left;
    display: block;
}
.floatRight {
    float: right;
}
.clearLeft {
    clear: left;
}
.clearRight {
    clear: right;
}